In [ ]:
from datetime import date
d0 = date(2008, 8, 18)
d1 = date(2008, 9, 26)
delta = d1 - d0
print(delta.days)

39

In [ ]:
from datetime import date
d0 = list(map(int,input().split(',')))
d1 = list(map(int,input().split(',')))
age1=date(d0[0],d0[1],d0[2])
age2=date(d1[0],d1[1],d1[2])
delta = age2 - age1
print(delta.days(),'days')

2008,8,18
2008,9,26
3369600.0

In [ ]:
from datetime import date
from datetime import datetime
d0 = list(map(int,input().split(',')))
d1 = list(map(int,input().split(',')))
age1=date(d0[0],d0[1],d0[2])
age2=date(d1[0],d1[1],d1[2])
delta = age2 - age1
print(delta.total_seconds(),'secound')
print(datetime.now())

2008,8,18
2008,9,26
3369600.0 secound

In [ ]:
from datetime import datetime
print(datetime.now())
print(datetime.today())

2024-12-04 12:05:58.683359
2024-12-04 12:05:58.683528

In [ ]:
import numpy as np
array1d = np.array([1, 2, 3])
print(array1d)
array2d = np.array([[1, 2], [3, 45]])
print(array2d)
print(list(array2d))

[1 2 3]
[[ 1  2]
 [ 3 45]]
[array([1, 2]), array([ 3, 45])]