In [ ]:
def greet(a):
  print(f"hey {a} whats upp!!")
greet("gourab")

hey gourab whats upp!!

In [ ]:
def calculate(a,b):
  return int(a*b)
a=int(input("first num:"))
b=int(input("secound num:"))
print("multiplication of those number is:",calculate(a,b))

first num:22
secound num:2
multiplication of those number is: 44

In [ ]:
import math
print(math.sqrt(16))

4.0

In [ ]:
with open('/content/drive/MyDrive/mypackage/__init__.py', 'w') as f:
    f.write("# This is the init file for mypackage")

with open('/content/drive/MyDrive/mypackage/mymodule.py', 'w') as f:
    f.write("""
def greet(name):
    return f"Hello from module1, {name}!"
""")

import sys
sys.path.append('/content/drive/MyDrive')

import mymodule
print(mymodule.greet("hhhh"))

Hello from module1, hhhh!

In [ ]:
def findlargest(a):
  return max(a)
num=[10,22,1,33,567]
print(f"The largest number is {findlargest(num)}")

The largest number is 567

In [ ]:
def factorial(num):
  sum=1
  for i in range(1,num+1,1):
    sum*=i
  return sum
n=int(input())
print(f"The factorial is {factorial(n)}")

4
The factorial is 24

In [ ]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b

print(f"addition of 5 and 9 is {add(5,9)}")
print(f"suntraction of 20 and 9 is {sub(20,9)}")
print(f"multiplection of 5 and 9 is {mul(5,9)}")

addition of 22 and 2 is 14
suntraction of 22 and 2 is 11
multiplection of 22 and 2 is 45

In [ ]:
def prime(n):
  c=0
  if n==1:
    return "not prime"
  else:
    for i in range (2,n,1):
      if n%i==0:
        c+=1
        break
    if c==0:
      return "prime"
    else:
      return "not prime"

print(prime(10))

not prime

In [ ]:
def common(a,b):
  result=[]
  for i in range(len(a)):
    if a[i] in b:
      result.append(a[i])
  return result

a=[1,2,4,6]
b=[1,4,7,8]
print(f"common number is {common(a,b)}")

common number is [1, 4]