In [ ]:
lst=[23,4,5,6,6,44,3]
lst[1]=40
lst[3]=60
lst[0]=10

print(lst)
a=max(lst)

b=len(lst)
print(b)
print(a)

[10, 40, 5, 60, 6, 44, 3]
7
60

In [ ]:
name="Alex"
age=22
print(f"{name} is {age} years old")

Alex is 22 years old

In [ ]:
tpl=(1,2,45,5)
#tpl(1)=10
print(tpl[1])
print(tpl)

2
(1, 2, 45, 5, 5)

In [ ]:
x=range(-10,100,15)
for n in x:
  print(n)

-10
5
20
35
50
65
80
95

In [ ]:
my_data={'name':'Gourab','age':24,'city':'purbachal'}
print(my_data)
print(my_data['age'])

del my_data['age']
print(my_data)

my_data['year']=2024
print(my_data)

my_data2={'stu1':{'name':'gourab','id':221},'stu2':{'name':'araf','id':222}}
print(my_data2['stu1']['id'])

my_data3={'name':{'Gourab','anik'},'age':24,'city':'purbachal'}
print(my_data3)

{'name': 'Gourab', 'age': 24, 'city': 'purbachal'}
24
{'name': 'Gourab', 'city': 'purbachal'}
{'name': 'Gourab', 'city': 'purbachal', 'year': 2024}
221
{'name': {'Gourab', 'anik'}, 'age': 24, 'city': 'purbachal'}

In [ ]:
set1={1,2,3,3,4}
print(set1)

set1.add(5)
print(set1)

set1.remove(1)
print(set1)

len(set1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}

4

In [ ]:
nums = [1,1,2]
i=0
result={}
while i<len(nums):
  result.add(nums[i])
print(len(result))

AttributeError: 'dict' object has no attribute 'add'

In [ ]:
nums = [1, 0, 0, 1, -1, 2, 2, 3, 3, 4]

print(nums)
result = set(nums)  # Use a set to store unique elements
result = list(result)
result.sort()
#result=result.sort()  # Convert the set to a list for ordered access
print(len(result))
# Overwrite nums with the elements of result
for i in range(len(nums)):
    if i < len(result):
        nums[i] = result[i]
    else:
        nums[i] = '_'  # Fill remaining slots with '_'

print(nums)

[1, 0, 0, 1, -1, 2, 2, 3, 3, 4]
6
[-1, 0, 1, 2, 3, 4, '_', '_', '_', '_']

In [ ]:
a=''
print(bool(a))
b='gub'
print(bool(b))

False
True

In [ ]:
s="gub.com"
byte=bytes(s,'utf-8')
print(byte)

i=2
a=bytes(i)
print(a)

t=(3,4,5,6)
print(str(bytes(t)))

b'gub.com'
b'\x00\x00'
b'\x03\x04\x05\x06'

In [ ]:
st='green.com'
ar1=bytearray(st,'utf-8')
ar2=bytearray(st,'utf-32')
print(ar1)
print(ar2)

s=2
arr=bytearray(s)
print(arr)

bytearray(b'green.com')
bytearray(b'\xff\xfe\x00\x00g\x00\x00\x00r\x00\x00\x00e\x00\x00\x00e\x00\x00\x00n\x00\x00\x00.\x00\x00\x00c\x00\x00\x00o\x00\x00\x00m\x00\x00\x00')
bytearray(b'\x00\x00')